<header>
    <nav>
        <a href="/">Tasklists</a>
        <button>
            <span></span>
        </button>
        
        <div id="navbarSupportedContent">
            <ul>
                <li><a href="#">Signup</a></li>
                <li><a href="#">Login</a></li>
            </ul>
        </div>
    </nav>
</header>