<header>
    <nav>
        <a href="/">Tasklists</a>
        <button>
            <span></span>
        </button>
        
        <div id="navbarSupportedContent">
            <ul>
              <% if logged_in? %>
                  <ul>
                <li><%= link_to 'Logout', logout_path, method: :delete %></li>
                  </ul>
              <% else %>
                <li><%= link_to 'Signup', signup_path %></li>
                <li><%= link_to 'Login', login_path %></li>
              <% end %>    
            </ul>
        </div>
    </nav>
</header>